In [6]:
import pandas as pd

In [8]:
import csv

In [9]:
data = [["subject" , "credit" , "contact period"],
        ["discrete mathematics", 4 ,4],
        ["digital priciples",4,4],
        ["economic", 3 ,3],
        ["oop",3,3],
        ["design and analysis of algorithm",4,5],
        ["fundamendal of data science",4,3]]

In [10]:
csv_file = 'sem_03.csv'

In [11]:
with open(csv_file, mode = 'w', newline = '') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [14]:
s = pd.read_csv('sem_03.csv')

In [15]:
s

                            subject  credit  contact period
0              discrete mathematics       4               4
1                 digital priciples       4               4
2                          economic       3               3
3                               oop       3               3
4  design and analysis of algorithm       4               5
5       fundamendal of data science       4               3